<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>s3Endpoint</key>
	<string>https://7dc29b549999a730704a07f96d570cbc.r2.cloudflarestorage.com</string>
	<key>s3SecretKey</key>
	<string>00e1a494db575f1952688d5784375329938d55600ab4eb5239cf1b6e8a84c8bd</string>
	<key>s3AccessKey</key>
	<string>462e33547cbb9182d8dffd297d740f1e</string>
	<key>supabaseApiKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnbnltc3hkdXdmcmF1aWRvd3h4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ4NTQ5MTIsImV4cCI6MjA1MDQzMDkxMn0.psT8h0TtBT9RuhS0pAI9y3CKV7Ytf4kxHRFNBAuqP8o</string>
	<key>supabaseProjectUrl</key>
	<string>https://bgnymsxduwfrauidowxx.supabase.co</string>
</dict>
</plist>
